DATABASE_URI=postgresql://postgres.<project>:<password>@aws-1-eu-north-1.pooler.supabase.com:5432/postgres
DATABASE_URL=postgresql://postgres.<project>:<password>@aws-1-eu-north-1.pooler.supabase.com:5432/postgres
PAYLOAD_SECRET=YOUR_SECRET_HERE
NEXT_PUBLIC_SERVER_URL=https://editor.ourmoon.org.uk
AZURE_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=https;AccountName=ourmoonwebassets;AccountKey=...;EndpointSuffix=core.windows.net
